@use "./base.scss";

// put your custom CSS here!
blockquote.transclude {
  border: none;
  margin: 0;
  padding: 0;

  a.transclude-src,
  > h1:first-child {
    display: none;
  }
}

// content basic overrides
h1,
h2,
h3,
h4 {
  article > & {
    position: relative;
  }
  article > & > a[role="anchor"] {
    padding: 0 0.3rem;
    position: absolute;
    left: -2.1rem;
    top: 0.25rem;
  }
  article > & > a[role="anchor"] svg {
    height: 1rem;
    width: 1rem;
  }
}

h3,
h4 {
  font-family: var(--bodyFont);
}
article {
  p {
    font-size: 1.25rem;
    line-height: 1.8rem;
  }
  h3,
  h4 {
    font-family: var(--headerFont);
  }
  a {
    text-decoration: underline;
  }
}

// pinkify nobr
nobr,
.nobr {
  color: transparent;
  background: linear-gradient(to bottom right, #fa1982 0%, #bf0a5e 100%);
  background-clip: text;
  white-space: nowrap;
}
:root[saved-theme="dark"] nobr,
:root[saved-theme="dark"] .nobr {
  background-image: linear-gradient(to bottom right, #ff73b2 0%, #fa1982 100%);
}

// logo dark/light color scheme switch
.logo img {
  margin: 0.3rem 0;
}
:root[saved-theme="light"] .logo .white {
  display: none;
}
:root[saved-theme="dark"] .logo {
  & .black {
    display: none;
  }
  & .white {
    display: block;
  }
}

// Changes to Quartz's styles
ul.overflow,
ol.overflow {
  max-height: none;
}
ul.overflow:after,
ol.overflow:after {
  display: none;
}
li.section-li > .section.no-dates {
  grid-template-columns: 4fr 1fr;
}

// TOC overrides
button#toc {
  h3 {
    color: transparent;
    background: linear-gradient(to bottom right, #29eaf7 0%, #1982fa 100%);
    background-clip: text;
    font-size: 0.8rem;
  }
  .fold {
    height: 20px;
    width: 20px;
  }
}
#toc-content {
  li {
    font-size: 1rem;
    margin: 0.4rem 0;
    line-height: 1.4rem;
  }
}
:root[saved-theme="dark"] button#toc h3 {
  background-image: linear-gradient(to bottom right, #b4d7fe 0%, #57a5ff 100%);
}

// From GLF design
:root {
  --foreground-rgb: 17, 23, 41;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --max-page-width: 90rem; /* 1440px */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 74, 85, 103;
    --background-end-rgb: 17, 23, 41;
  }
}

// body {
//   color: rgb(var(--foreground-rgb));
//   background: linear-gradient(
//       to bottom,
//       rgb(var(--background-start-rgb)),
//       rgb(var(--background-end-rgb))
//     )
//     rgb(var(--background-start-rgb));
//   background-attachment: fixed;
// }
